<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132878670152-419alui2ph86hhtpa4fa85h8edlfb9oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132878670152-419alui2ph86hhtpa4fa85h8edlfb9oa</string>
	<key>API_KEY</key>
	<string>AIzaSyBKPpG1MNzaJiZ_yM80RSGfFG4G2tL1g68</string>
	<key>GCM_SENDER_ID</key>
	<string>132878670152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chorehunter</string>
	<key>PROJECT_ID</key>
	<string>chore-hunter-9a6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>chore-hunter-9a6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132878670152:ios:d7e331c7a3b6e92b867b7d</string>
</dict>
</plist>